// These mixins should be hidden
$border-color: rgb(50%, 0%, 100%);

@mixin zero-padding-margin($font) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1rem $font, sans-serif;
}

@mixin inset-shadow {
  box-shadow: inset 0px 0px 15px 5px $border-color;
}

@mixin header-footer {
  font-size: 3rem;
  padding: min(0.3125em, 5px);
  width: 100%;
  border: var(--border-thickness) solid $border-color;
  @include inset-shadow();
  @include flex(column, center);

  @media (max-width: 700px) {
    font-size: 2.5rem;
  }

  @media (max-width: 500px) {
    font-size: 2rem;
  }
}

// These mixins should be public
@mixin page-reset($font) {
  :root {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;

    --border-thickness: 4px;

    @media (max-width: 700px) {
      --border-thickness: 3px;
    }

    @media (max-width: 500px) {
      --border-thickness: 2px;
    }

    @media (prefers-reduced-motion) {
      scroll-behavior: auto;
    }
  }

  :not(html, head, body, style, script, ul, ol, li, svg, path) {
    display: flow-root;
  }

  * {
    @include zero-padding-margin($font);

    &::after, &::before {
      @include zero-padding-margin($font);
    }
  }

  a {
    color: rgb(100%, 100%, 100%);

    &:is(:active, :focus) {
      color: rgb(100%, 100%, 100%);
    }

    &:hover {
      text-decoration: underline dotted;
    }
  }
}

@mixin header {
  header {
    @include header-footer();
  }
}

// TODO: consider implementing this as a mobile friendly blend-in menu on the top right
@mixin nav {
  nav {
    border-left: var(--border-thickness) solid $border-color;
    border-bottom: var(--border-thickness) solid $border-color;
    border-right: var(--border-thickness) solid $border-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @include inset-shadow();
    @include flex(column, center);
    font-size: 2rem;
    width: 100%;
    padding: 0.3125em;
    margin-top: 0;
    margin-bottom: auto;

    @media (max-width: 700px) {
      font-size: 1.5rem;
    }

    @media (max-width: 500px) {
      font-size: 1rem;
    }

    ul {
      width: 100%;
      list-style: none;
      @include flex(row, space-around);
      font-size: inherit;

      li {
        font-size: inherit;

        a {
          font-size: inherit;
        }
      }
    }
  }
}

@mixin footer {
  footer {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    @include header-footer();
    margin-top: auto;
    margin-bottom: 0;
  }
}

@mixin flex($direction: column, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
